{% extends "base.html" %}
{% block content %}
    <div class="flex justify-between items-center mb-6">
        <h2 class="text-2xl font-semibold text-gray-800">TecNM JGNH 21290613</h2>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-lg mb-4">
        <h3 class="text-xl font-bold text-indigo-600 mb-2">
            ¡Bienvenido a mi Proyecto Final!
        </h3>
        <p class="text-gray-700">
            Si ves esto, <strong>Django-Allauth</strong> está instalado y configurado correctamente.
            <br>
            El sistema de Registro, Login, Logout y Cambio de Contraseña está operativo.
        </p>
    </div>
{% endblock content %}